.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 500vh;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.7);
  z-index: 500;
  transition: transform 0.2s ease-in-out;
}

.modal__container {
  top: 50%;
  left: 50%;
  width: 70%;
  max-width: 70rem;
  padding: 4rem;
  z-index: 9999;
  max-height: 90vh;
  background: var(--white);
  overflow-y: auto;
  position: absolute;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease-in-out;
}

.modal__close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 35px;
  width: 35px;
  font-size: 3rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  filter: drop-shadow(0 0px 6px rgba(0, 0, 0, 0.3));
  background: linear-gradient(180deg, var(--light-yellow), var(--dark-yellow));
}

.hide__backdrop {
  transform: translateY(-500vh);
}

.show__backdrop {
  transform: translateY(0);
}

.hide__modal {
  transform: translate(-50%, -1000px);
}

.show__modal {
  transform: translate(-50%, -50%);
}

.confirm__btn,
.cancel__btn,
.info__button {
  padding: 1rem 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  color: var(--white);
  border: none;
  font-weight: 900;
  margin: 0 3rem;
  margin-top: 2rem;
  min-width: 12rem;
  font-size: 1.4rem;
}

.confirm__btn {
  background: var(--correct-answer);
}

.cancel__btn {
  background: var(--wrong-answer);
}

.info__button {
  background: var(--bg-primary);
}

@media screen and (max-width: 721px) {
  .modal__container {
    padding: 4rem 2rem;
    width: 90%;
  }
}

@media screen and (max-width: 468px) {
  .modal__close-btn {
    width: 24px;
    height: 24px;
  }
}
