.not-found__container {
  color: var(--white);
}

.not-found__container > span {
  position: static;
}

.not-found__container > span.not-found__number {
  font-size: 18rem;
  font-weight: 900;
  text-shadow: -3px 1px 6px var(--black);
  display: inline-block;
}

.not-found__container > span.not-found__number:not(:first-of-type) {
  margin-left: -1.5rem;
}

.not-found__container > span.not-found__number:nth-of-type(3) {
  margin-left: -2.5rem;
}

.not-found__container > span.not-found__text {
  display: block;
  margin-top: -2.6rem;
  font-size: 2.8rem;
}

.not-found__container strong {
  font-weight: 900;
  font-size: 3.4rem;
  display: inline-block;
  text-shadow: 0px 0px 1rem var(--black);
}

.not-found__container + button {
  margin-top: 3rem;
}

@media screen and (max-width: 768px) {
  .not-found__container > span.not-found__number {
    font-size: 14rem;
  }

  .not-found__container strong {
    font-size: 2.8rem;
  }

  .not-found__container > span.not-found__number:nth-of-type(3) {
    margin-left: -2rem;
  }
}

@media screen and (max-width: 468px) {
  .not-found__container > span.not-found__number {
    font-size: 12rem;
  }

  .not-found__container strong {
    font-size: 2rem;
  }

  .not-found__container > span.not-found__number:nth-of-type(3) {
    margin-left: -1rem;
  }
}
