span {
  display: inline-block;
  position: absolute;
}

.speaker__part-1 {
  height: 40%;
  width: 20%;
  left: 25%;
  background: var(--white);
  clip-path: polygon(100% 0, 100% 100%, 0 75%, 0 25%);
}

.speaker__part-2 {
  width: 15%;
  height: 20.5%;
  background: var(--white);
  top: 40%;
  left: 15%;
}

.speaker__line {
  clip-path: circle(50.4% at 93% 0);
  background: transparent;
  border: 3px solid var(--white);
  border-radius: 50%;
  transform: rotate(50deg);
  border-radius: 50%;
}

.speaker__line-1 {
  height: 30%;
  width: 30%;
  top: 35%;
  left: 27.5%;
}

.speaker__line-2 {
  height: 45%;
  width: 45%;
  top: 27.5%;
  left: 22.5%;
}

.speaker__line-3 {
  height: 60%;
  width: 60%;
  top: 20%;
  left: 18%;
}

@keyframes showAnimation {
  20% {
    transform: rotate(50deg) translateY(-20%);
  }

  50% {
    transform: rotate(50deg) translateY(20%);
  }

  70% {
    transform: rotate(50deg) translateY(-20%);
  }

  100% {
    transform: rotate(50deg) translateY(0%);
  }
}
